@model ArtSite.Models.LogOnModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LogOnModel</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">RememberMe</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RememberMe)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">Telephone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telephone)
    </div>

    <div class="display-label">Permissions</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Permissions)
    </div>

     <div class="display-label">@Html.DisplayFor(model=>model.DisplayName)</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
